alt-profanity-check==1.6.1
aniso8601==9.0.1
appdirs==1.4.4
atomicwrites==1.4.0
backcall==0.2.0
docopt==0.6.2
Flask-GraphQL @ git+https://github.com/graphql-python/flask-graphql.git@0d45561607950b68458925537f116298fc81b4d3
gcloud==0.18.3
googleapis-common-protos==1.70.0
graphene==3.3
graphql-core==3.2.3
graphql-relay==3.2.0
graphql-server==3.0.0b7
graphql-server-core==1.2.0
gunicorn==23.0.0
httplib2==0.22.0
ipython==8.12.3
jsonpointer==2.1
jwcrypto==1.5.6
lxml==5.2.1
matplotlib==3.9.2
mkl-service==2.4.0
oauth2client==4.1.3
pipreqs==0.5.0
promise==2.3
protobuf==4.25.3
pyasn1-modules==0.2.8
pycryptodome==3.22.0
pyls-spyder==0.4.0
PyQt5==5.15.10
PyQtWebEngine==5.15.6
Pyrebase4==4.8.0
python-jwt==4.1.0
pywin32==305.1
requests-toolbelt==0.10.1
rsa==4.9.1
Rx==1.6.3
scikit-learn==1.6.1
setuptools==75.1.0
textblob==0.19.0
urllib3==1.26.20
wheel==0.44.0
yarg==0.1.9
